<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1077304237531-1bp30qgmek480mo555qqm7euspao8srs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077304237531-1bp30qgmek480mo555qqm7euspao8srs</string>
	<key>API_KEY</key>
	<string>AIzaSyBFFxgRcFLenajo5NKzEfOrntZtJQoob7U</string>
	<key>GCM_SENDER_ID</key>
	<string>1077304237531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.horoscope.ganeshaspeak</string>
	<key>PROJECT_ID</key>
	<string>ganesha-horoscope</string>
	<key>STORAGE_BUCKET</key>
	<string>ganesha-horoscope.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077304237531:ios:b7e1bf6784095851</string>
	<key>DATABASE_URL</key>
	<string>https://ganesha-horoscope.firebaseio.com</string>
</dict>
</plist>